---
import {basics} from '@cv'
import Section from '@/components/Section.astro'
import Mail from 'icons/Mail.astro'
import Phone from 'icons/Phone.astro'
import GitHub from 'icons/GitHub.astro'
import LinkedIn from 'icons/LinkedIn.astro'
import WorldMap from 'icons/WorldMap.astro'

const {name, label, image, email, url, summary, location, phone, profiles} = basics
const {address, postalCode, city, countryCode, region} = location

const SOCIAL_ICONS: Record<string, any> = {
LinkedIn,
GitHub
}

const linkedInInfo = profiles.find(profile => profile.network === 'LinkedIn')
const linkedInUrl = linkedInInfo?.url

const printInfo = [email, phone, linkedInUrl]
    .filter(Boolean)
    .join(' • ')
---

<Section>
    <div class="container">
        <div class="info">
            <h1>{name}</h1>
            <h2>{label}</h2>
            <span><WorldMap />
                 {city}, {region}
                </span>
            <footer>
                <div class="print">
                    {printInfo}
                </div>
                </footer>
                <footer class="no-print">
                
                {
                    email &&  
                    <a href={`mailto:${email}`} title={`Enviar correo electronico a ${name} al correo ${email}`} target="_blank" rel="noopener noreferrer"> 
                    <Mail / ></a>
                    
                }
                {
                    phone && 
                    <a href={`tel:${email}`} title={`Enviar Llamar a ${name} al número ${phone}`} target="_blank" rel="noopener noreferrer"> 
                    <Phone / ></a>
                    
                }

                {
                    profiles.map(({network, username, url}) => {
                        const Icon = SOCIAL_ICONS[network]

                        return (
                        <a href={url} title={`Visitar ${username} en ${network}`} target="_blank" rel="noopener noreferrer"><Icon /></a>
                    )

                    })
                }
            </footer>
        </div>
        <figure>
             <img src={image} alt={name} /> 
        </figure>
    </div>
</Section>

<style>
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}


.info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding-right: 32px;
}

h1 {
    font-size: 2em;
    margin: 0;
    color: #092241;
}
h2 {
    color: #303537;
    font-weight: 500;
    text-wrap: balance;
    font-size: 1.1rem;
    margin: 0;
    
}

img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100px;
    border-radius: 15px;
}
span {
    color: #666;
    display: flex;
    align-items: center;
    gap: 0.65rem;
    font-size: 0.85rem;
    letter-spacing: -0.05rem;
}

footer {
    color: #666;
    font-size: 0.65em;
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    margin-top: 0.2rem;
}

footer a {
    color: #777;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

footer a:hover {
    background: #eee;
}

.print {
    display: none !important;
}

@media print {
    .no-print {
        display: none !important;
    }
}
@media print {
    .print {
        display: flex !important;
    }
}
</style>