---
import Section from "../Section.astro"
import {skills} from '@cv'
import astro from 'icons/astro.astro'
import html from 'icons/html.astro'
import css from 'icons/css.astro'
import GitHub from 'icons/GitHub.astro'
import node from 'icons/node.astro'
import nuxt from 'icons/nuxt.astro'
import javascript from 'icons/javascript.astro'
import php from 'icons/php.astro'
import sql from 'icons/sql.astro'
import tailwind from 'icons/tailwind.astro'
import typescript from 'icons/typescript.astro'
import vue from 'icons/vue.astro'
import git from 'icons/git.astro'
import Sass from 'icons/Sass.astro'
import mysql from 'icons/mysql.astro'
import java from 'icons/java.astro'
import {getI18N } from '@/i18n/utils'

interface Props {
    locale?: string
}
const {locale = 'es'}: Props = Astro.props
const i18n = getI18N(locale)
const {sections} = i18n

const SKILL_ICONS: Record<string, any> = {
    Astro: astro,
    Sass,
    Java: java,
    HTML: html,
    CSS: css,
    GitHub,
    Git: git,
    Node: node,
    Nuxt: nuxt,
    JavaScript: javascript,
    PHP: php,
    SQL: sql,
    Tailwind: tailwind,
    TypeScript: typescript,
    Vue: vue,
    MySQL: mysql
}
---

<Section title={sections.skills}>

    <ul>
        {
            skills.map(({name}) => {
                const Icon = SKILL_ICONS[name]
                return (
                    <li>{Icon && <Icon/>} <span>{name}</span></li>
                )
            })
        }
    </ul>

</Section>

<style>
    ul {
        margin-top: 0.5em;
        display: inline-flex;
        gap: 0.5em;
        flex-wrap: wrap;
    }

    li {
        border-radius:  6px;
        color: #111;
        font-size: 0.8em;
        background-color: #eee;
        padding: 0.2em 0.6em;
        font-weight: 550;
        display: flex;
        align-items: center;
        gap: 0.4em;
    }
</style>
