---
import Section from "../Section.astro"
import {skills} from '@cv'
import {getI18N } from '@/i18n/utils'

interface Props {
    locale?: string
}
const {locale = 'es'}: Props = Astro.props
const i18n = getI18N(locale)
const {sections} = i18n

---

<Section title={sections.skills}>

    <ul>
        {
            skills.map(({name}) => {
                return (
                    <li><span>{name}</span></li>
                )
            })
        }
    </ul>

</Section>

<style>
    ul {
        margin-top: 0.5em;
        display: inline-flex;
        gap: 0.5em;
        flex-wrap: wrap;
    }

    li {
        border-radius:  6px;
        color: #111;
        font-size: 0.8em;
        background-color: #eee;
        padding: 0.2em 0.6em;
        font-weight: 550;
        display: flex;
        align-items: center;
    }
</style>
