---

import Layout from '../layouts/Layout.astro';
import About from '@/components/sections/About.astro';
import Education from '@/components/sections/Education.astro';
import Experience from '@/components/sections/Experience.astro';
import Hero from '@/components/sections/Hero.astro';
import Projects from '@/components/sections/Projects.astro';
import Skills from '@/components/sections/Skills.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';
import PrintButton from '@/components/PrintButton.astro';
import { getCV } from '@/cv/utils';

// const {name, label} = basics
const currentLocale = Astro.currentLocale || 'es'
const cv = getCV(currentLocale)
const {basics} = cv
const {name, label} = basics
---

<Layout title=`Portafolio de ${name} - ${label}`>
	<main>
		<Hero cv={cv}></Hero>
		<About cv={cv} locale={currentLocale}></About>
		<Experience cv={cv} locale={currentLocale}></Experience>
		<Education cv={cv} locale={currentLocale}></Education>
		<Projects cv={cv} locale={currentLocale}></Projects>
		<Skills  locale={currentLocale}></Skills>
		<PrintButton locale={currentLocale} />
	</main>
	<KeyboardManager></KeyboardManager>

</Layout>

<style>
	main {
		padding: 2em 0;
		margin: auto;
		width: 100%;
	}

	@media (width <= 700px) {
		main {
			padding: 2rem;
		}
	}
</style>
